src/main/mule/customer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="customer-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="customer-config" raml="customer.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="3b63afb9-4c54-4f0b-9a2a-aaacbc14bc75" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" database="deloitte" />
	</db:config>
	<flow name="customer-main">
        <http:listener config-ref="customer-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND" doc:name="On Error Propagate" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED" doc:name="On Error Propagate" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9de83eaa-684b-48c7-bea1-ec0f83c4419d">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="customer-console">
        <http:listener config-ref="customer-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customer\(customerId):application\json:customer-config">
        <db:update doc:name="Update" doc:id="96ef6109-58b7-48e8-9c29-5e1e704913ea" config-ref="Database_Config" autoGenerateKeys="true" target="data">
			<db:sql >update customers set first_name = COALESCE (:firstName,first_name), last_name = COALESCE(:lastName,last_name), address = COALESCE(:address,address) where id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id':attributes.uriParams.customerId,
'firstName':payload.firstName,
'lastName':payload.lastName,
'address':payload.address}]]]></db:input-parameters>
		</db:update>
		<db:select doc:name="SelectByID" doc:id="d0511695-a5f5-4664-8f23-067f4f13cbb7" config-ref="Database_Config">
			<db:sql >select * from customers where id = :id </db:sql>
			<db:input-parameters ><![CDATA[#[{'id':attributes.uriParams.customerId}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="670c40ed-b674-4806-b558-5a0fd0efbec7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
input payload application/json
output application/json
var objectFind = sizeOf(payload) > 0
---
if (objectFind)
{
    data:  {
        id: payload[0].id as String,
        firstName: payload[0].first_name,
        lastName: payload[0].last_name,
        address: payload[0].address
    },
    success: true,
    status: 200
}
else 
{success: true,
    status: 204 } ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customer\(customerId):customer-config">
        <db:delete doc:name="Delete" doc:id="8bcfc5c1-a345-4126-8e4e-909ac1af2212" config-ref="Database_Config">
			<db:sql >delete from customers where id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id':attributes.uriParams.customerId}]]]></db:input-parameters>
		</db:delete>
		<logger level="INFO" message="delete:\customer\(customerId):customer-config" />
		<ee:transform doc:name="Transform Message" doc:id="7738d215-7702-460f-a8f2-0594e3cab56e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"status":204,
	"success":true
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\customers:customer-config">
        <db:select doc:name="Select" doc:id="0ddbe27c-4cfd-4a21-b2cf-20aaf806a40e" config-ref="Database_Config">
			<db:sql >select * from customers</db:sql>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ec93d1c6-0132-40ef-9b4d-7c42c102b477">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    data: ([]) ++ (payload map ( payload01 , indexOfPayload01 ) -> {
        id: payload01.id,
        firstName: payload01.first_name,
        lastName: payload01.last_name,
        address: payload01.address
    }),
    success: true,
    status: 200
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer:application\json:customer-config">
        <db:insert doc:name="Insert" doc:id="293d0473-b50d-4346-a942-ad132f44f635" config-ref="Database_Config" autoGenerateKeys="true">
			<db:sql >insert into customers(first_name,last_name,address) values (:firstName,:lastName,:address)</db:sql>
			<db:input-parameters ><![CDATA[#[{
'firstName':payload.firstName,
'lastName':payload.lastName,
'address':payload.address
}]]]></db:input-parameters>
		</db:insert>
		<db:select doc:name="Select" doc:id="f26ee646-485d-45b9-b985-819fad76a300" config-ref="Database_Config">
			<db:sql >select * from customers where id = :id </db:sql>
			<db:input-parameters ><![CDATA[#[{'id':payload.generatedKeys.GENERATED_KEY}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="fbdd44da-6c13-4d9f-b6b4-643f26599a71">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    data: {
        id: payload[0].id,
        firstName: payload[0].first_name,
        lastName: payload[0].last_name,
        address: payload[0].address
    },
    success: true,
    status: 200
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="27dac150-426d-450a-8119-7e846d0a3bdc">
				<ee:transform doc:name="Transform Message" doc:id="71784938-2601-480d-9859-5fc3f33c6554" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"status":409,
	"success":false
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
